.nav-container {
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: var(--bg-var-color);
  width: 100%;
  margin-bottom: 2rem;
}
.nav-container a {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: lowercase;
}
.nav-container article {
  display: flex;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nav__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.space {
  flex: 1;
}
