.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 350px;
  border-radius: 0.5rem;
  border: 2px dotted var(--primary-color);
  padding: 0.3rem;
  position: relative;
}
.card__container:hover {
  cursor: pointer;
  transition: 1500ms;
  background: var(--accent-color);
}
.card__container:hover img {
  transition: 800ms;
  scale: 1.2;
}
.card__container .card__image {
  width: 150px;
}
.card__container .card__image img {
  width: 100%;
}
