@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Poppins&family=Raleway:wght@300;400&display=swap&family=Passions+Conflict&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  line-height: 1.7;
}
::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* container width */
  --container-width: 100%;
  --transition-delay: 0.5s;
}

a:hover {
  color: var(--accent-color);
  cursor: pointer;
  transition: var(--transition-delay);
}
.container {
  width: var(--container-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

/* medium screens */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width);
  }
}

/* small screens */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width);
  }
}

/* media query to change theme */
/* light */
@media (prefers-color-scheme: light) {
  /* general colors */
  :root {
    --bg-color: #fdfaf6;
    --bg-var-color: #cdc2ae;
    --primary-color: #c2b8a3;
    --secondary-color: #fef7dc;
    --tertiary-color: #e0e0e0;
    --accent-color: #e7f6f2;
    --error-color: red;
    --success-color: red;
    --info-color: red;
    --transition-delay: 0.5s;
  }
}
/* dark */
@media (prefers-color-scheme: dark) {
  /* general colors */
  :root {
    --bg-color: #f7f7f9;
    --bg-var-color: #202020;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --primary-color: #b2ff59;
    --secondary-color: #91c788;
    --tertiary-color: #e0e0e0;
    --accent-color: #888888;
    --error-color: red;
    --success-color: red;
    --info-color: red;
    --transition-delay: 0.5s;
  }
}

[color-scheme="light"] {
  --bg-color: #f7f7f9;
  --bg-var-color: #323e45;
  --primary-color: #8ba88e;
  --secondary-color: #ccd2c6;
  --accent-color: #e7f6f2;
}

[color-scheme="dark"] {
  --bg-color: #f9f9f9;
  --bg-var-color: #202020;
  --primary-color: #b2ff59;
}
